<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="author" content="" />
    <title><%= title %></title>

    <!-- Include CSS files -->
    <link href="/css/simple-datatables.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css">

    <script src="/js/jquery.min.js"></script>
    <!-- <script src="/js/datatable.min.js" crossorigin="anonymous"></script> -->
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- Optional: DataTable JS for Bootstrap -->
    <script src="/js/dataTables.bootstrap5.min.js"></script>

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <div id="loader" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!-- Include Header -->


        <div id="layoutSidenav_content">
            <main>
                <!-- Dynamic Body Content -->
                <%- body %>
            </main>
            <!-- Include Footer -->
        
        </div>
    </div>

    <!-- Include JavaScript files -->
    <!-- <script src="/js/jquery.js"></script> -->
   

    <script src="/js/scripts.js"></script>
  
    <!-- <script src="/js/datatable.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="/js/datatables-simple-demo.js"></script> -->
</body>
</html>
