<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="/dashboard">Product Management</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <!-- Optional search form can go here -->
    </form>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <!-- Notification Icon -->
        <div id="notificationWrapper" class="position-relative">
            <button id="notificationIcon" class="btn btn-light">
                <i class="fa fa-bell"></i>
                <span id="notificationCount" class="badge bg-danger">0</span>
            </button>
            <div id="notificationPanel" class="notification-panel d-none">
                <div class="panel-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Notifications</h5>
                    <button id="closeNotificationPanel" class="btn-close"></button>
                </div>
                <div id="allNotificationsListContainer">
                    <ul id="allNotificationsList" class="list-unstyled">
                        <!-- Notifications will be loaded here -->
                    </ul>
                </div>
                <button id="loadMoreNotifications" class="btn btn-link load-more-btn">Load More</button>
            </div>
        </div>
        <input type="hidden" id="header_notifications_length" value="5">
        
        <!-- User Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user fa-fw"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <!-- <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li> -->
                <!-- <li><hr class="dropdown-divider" /></li> -->
                
                <li><a class="dropdown-item" href="/user/change-password">Change Password</a></li>
                <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>