<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <!-- <div class="sb-sidenav-menu-heading">Core</div> -->
                <a class="nav-link" href="/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="/profile/user-profile">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                    My Profile
                </a>
                <a class="nav-link" href="/users">
                    <div class="sb-nav-link-icon"><i class="fas fa-list-alt"></i></div>
                    Users
                </a>
                <a class="nav-link" href="/products">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                    Products
                </a>
            </div>
        </div>
    </nav>
</div>